/* This is an example of how to import a partial scss file*/
@import '_variables';
@import '_normalize';
@import '_mixins';

body {
  background-color: $primary-background;
}

.radio,
button {
  cursor: pointer;
  
}
button {
  border-radius: 4px;
}

button:hover {
  background-color: $dark-text;
  color: $light-text
}

nav {
  @include display-direction-justify(flex, row, space-between);
  background-color: $nav-color;
  color: $light-text;
  height: 75px;
}

.image-scroll {
  @include box-size(100px, 100%);
  display: inline-block;
  white-space: nowrap;
  background: $light-text;
  overflow-x: auto;
  overflow-y: hidden;
  padding-top: 30px;
  max-width: 100%;
}

.hotel-name {
  margin-left: 30px;
}

h2 {
  color: $dark-text;
  @include margin (20px, 30px, 0px, 30px,);
}

.user-box {
  margin: 28px;
  color: $light-text;
}

.booking {
  @include margin-left-right(30px, 30px);
  @include box-size(100px, 250px);
  display: inline-block;
}

.titles {
  @include display-direction-justify(flex, row, space-between);
}

.choice-selection {
  @include display-direction-justify(flex, column, space-between);
  padding-top: 35px;
}

form {
  @include display-direction(flex, column);
  align-items: center;
}

.bookable-rooms {
  @include display-direction-justify(flex, row, space-evenly);
  flex-wrap: wrap;
}

.options {
  @include display-direction(flex, column);
  @include box-size(200px, 400px);
  align-items: center;
}

p {
  margin: 4px;
}

label {
  margin: 4px;
}

.room-label {
  margin-bottom: 45px;
}